:root {
    --main-blue: #212738;
    --main-pink: #F97068;
    --main-yellow: #D1D646;
    --main-white: #EDF2EF;
    --main-white-shadow: #DCE5DF;
    --main-cyan: #57C4E5;
}
html{
    width: 100%;
}
body {
    background-color: var(--main-blue);
    width: 100%;
    margin: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    font-family: 'Lato', sans-serif;
}
main {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Zilla Slab', serif;
    font-weight: 500;
}
nav{
    color: var(--main-blue);
    background-color: var(--main-white);
    margin-bottom: 40px;
    padding: 10px;
}
a {
    color: var(--main-pink);
}
ul {
    list-style-type: '– ';
}
ul li {
    margin-top: .5rem;
}
img {
    border: 1rem solid var(--main-blue);
    border-radius: 15px;
    margin: 1.5rem;
}
.navigation-text > p{
    padding-top: 0;
    margin-top: 0;
}
.navigation-text h1 {
    margin-bottom: 0;
}
h1 {
    font-weight: 700;
    font-size: 36px;
}
.section {
    display: flex;
    flex-flow: column wrap;
    background-color: var(--main-white);
    margin-left: 1rem;
    margin-right: 1rem;
    color: var(--main-blue);
    border-radius: 13px;
    box-shadow: 0 15px 60px rgba(0,0,0,.5);
}
.plain-section {
    display: flex;
    flex-flow: column wrap;
    background-color: var(--main-white);
    margin-left: 1rem;
    margin-right: 1rem;
    color: var(--main-blue);
    border-radius: 13px;
    box-shadow: 0 15px 60px rgba(0,0,0,.5);
}
.inner-section {
    display: flex;
    flex-flow: column wrap;
    margin-left: 1rem;
    margin-right: 1rem;
    border: .4rem solid var(--main-blue);
    border-radius: 13px;
}

main * + * {
    margin-top: 1.5rem;
}
.section > .card-title{
    text-align: center;
    background-color: var(--main-cyan);
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    margin: 0;
    padding: 0;
}
.plain-section > .plain-card-title{
    text-align: center;
    margin: 0;
    padding: 0;
}
.inner-section > .card-title{
    text-align: center;
    background-color: var(--main-yellow);
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    border-bottom: .4rem solid var(--main-blue);
}
.section > .card-content{
    padding: 10px;
    margin-top: 0;
}
.inner-section h4{
    font-weight: 600;
    padding: .25rem;
    margin-bottom: 0;
}
.inner-section p{
    padding: .25rem;
    margin: 0;
}
.inner-section ul{
    padding: 1rem;
    margin: 0;
}
.card-content > .work-entry:not(:first-child) {
    margin-top: .5rem;
} 
.work-entry {
    padding: 1rem;
}
.card-content .work-entry:not(:last-child):after{
    content: " ";
    display: block;
    position: absolute;
    height: 1px;
    background-color: var(--main-blue);
    margin-top: 1rem;
    width:100%;
}
.date {
    font-weight: 200;
    font-size: .75em;
}
.work-entry-more-info {
    text-decoration: none;
    color: var(--main-blue);
}
.skill-list {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    padding: 0;
}
.skill-list li{
    border: 3px solid var(--main-pink);
    border-radius: 1rem;
    background-color: var(--main-pink);
    color: var(--main-white);
    padding: .5rem;
    margin: .25rem;
}
footer {
    background-color: var(--main-white-shadow);
    color: var(--main-blue);
    margin-top: 1.5rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    padding-bottom: 15px;
}

footer .socials {
    padding: 5px;
}

button:active {
    /*Andy said this makes buttons feel squishy, I want to try it out*/
    transform: scale(0.99);
}
svg {
    /* Teomporary*/
    display: none;
}
/*Lanscape Phone*/
@media only screen and (min-device-width: 375px) and (max-device-width:813px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape){
    main {
        flex-flow: row wrap !important;
        max-height: none !important;
    }
    .section {
        flex-basis: 100%;

    }
    .inner-section {
        flex-basis: 100%;
    }
}
/*Tablet*/
@media only screen and (min-width: 426px){
    main {
        flex-flow: column wrap;
        max-height: 3000px;
        align-content: space-around;
    }
    .section {
        width: 49%;
    }
    .plain-section {
        flex-basis: 100%;
    }
    .inner-section {
        flex-basis: 45%;;
    }
    .education {
        margin-top: 1.5rem;
    }
    svg {
        display: inline-block;
    }
    nav {
        display: flex;
        align-items: flex-start;
        margin-bottom: 10px;
    }
    nav > *{
        padding: 10px
    }
    nav .smile {
        width: 150px;
        height: 150px;
    }
    .navigation-text > p{
        padding-top: 0;
        margin-top: 0;
    }
    .navigation-text h1 {
        font-size: 48px;
    }
}
/*Desktop*/
@media (min-width: 769px){
    main {
        width: 95%;
        margin:auto;
        max-height: 1300px;
    }
    .section {
        width: 30%;
    }
    .inner-section {
        flex-basis: 30%;
    }
    .card-content .work-entry:not(:last-child):after {
        width: 25vw;
    }
    .work-entry:hover{
        background-color: var(--main-pink);
        border-radius: 13px;
    }
    .section > .card-title:hover {
        background: linear-gradient(10deg, var(--main-cyan), var(--main-pink));
        transition: 0.5s;
    }
}



/*SVG*/
svg .mouth{
    stroke: var(--main-blue);
    stroke-width: 5;
    fill: transparent;
    stroke-linecap: round;
}
svg .eye{
    fill: var(--main-blue);
}
svg .circle-head{
    fill: var(--main-yellow);
}