:root {
    --main-blue: #212738;
    --main-pink: #F97068;
    --main-yellow: #D1D646;
    --main-white: #EDF2EF;
    --main-white-shadow: #DCE5DF;
    --main-cyan: #57C4E5;
}
body {
    background-color: var(--main-blue);
    width: 100%;
    margin: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4, h5 {
    font-family: 'Zilla Slab', serif;
    font-weight: 500;
}
nav{
    color: var(--main-blue);
    background-color: var(--main-white);
    margin-bottom: 40px;
    padding: 10px;
}
h1 {
    font-weight: 700;
    font-size: 36px;
}
.section {
    display: flex;
    flex-flow: column wrap;
    background-color: var(--main-white);
    margin: 10px;
    color: var(--main-blue);
    border-radius: 10px;
}
.section h2{
    order: 99;
    text-align: center;
    background-color: var(--main-yellow);
}
.section p {
    padding: 5px 10px;
}
button:active {
    /*Andy said this makes buttons feel squishy, I want to try it out*/
    transform: scale(0.99);
}
svg {
    /* Teomporary*/
    display: none;
}